
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - loudspeaker.masanetes.github.io
  resources:
  - loudspeakers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - loudspeaker.masanetes.github.io
  resources:
  - loudspeakers/finalizers
  verbs:
  - update
- apiGroups:
  - loudspeaker.masanetes.github.io
  resources:
  - loudspeakers/status
  verbs:
  - get
  - patch
  - update
