apiVersion: v1
kind: ServiceAccount
metadata:
  name: loudspeaker-runtime
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: loudspeaker-runtime
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
  - kind: ServiceAccount
    name: loudspeaker-runtime
    namespace: default
---
apiVersion: v1
kind: Secret
metadata:
  name: sentry-secrets
type: Opaque
stringData:
  credentials.yaml: |
    dsn: "sample"
---
apiVersion: loudspeaker.masanetes.github.io/v1alpha1
kind: Loudspeaker
metadata:
  name: loudspeaker-sample
  namespace: default
spec:
  image: masanetes/loudspeaker-runtime:latest
  serviceAccountName: loudspeaker-runtime
  listeners:
    - name: foo
      type: sentry
      credentials: sentry-secrets
      observes:
        - namespace: "default"
          ignoresReasons: ["ScalingReplicaSet"]
          involvedObjectNames: ["sample-nginx"]
          involvedObjectKinds: ["Deployment"]
          eventTypes: ["Normal"]
          
          
          

